@model RollOff.Models.Rolloff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rolloff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Global_Group_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Global_Group_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Joining_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Joining_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.People_Manager__Performance_Reviewer_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.People_Manager__Performance_Reviewer_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Practice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSP_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSP_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Global_Practice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Global_Practice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office_City)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
